@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --branco: #fff;
    --vermelho: #e51e2a;
    --preto: #121212;
    --preto-logo: #222;
}

section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: var(--preto);
    overflow: hidden;
}

.circle {
    width: 100%;
    height: 100%;
    background-color: var(--vermelho);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: circle(60% at right top);
}

header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navigation ul {
    display: flex;
}

header .navigation li {
    margin-left: 50px;
    list-style: none;
}

header .navigation a {
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
    font-size: 19px;
    transition: 0.3s ease-in-out;
}

header .navigation a:hover {
    border-bottom: 2px solid var(--branco);
}

.conteudoBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudoBox .textoBox {
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.conteudoBox .textoBox h2 {
    color: var(--branco);
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}

.conteudoBox .textoBox p {
    color: var(--branco);
}

.conteudoBox .textoBox a {
    display: inline-block;
    margin-top: 20px;
    color: var(--branco);
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 500;
    background: var(--vermelho);
    border-radius: 40px;
    transition: 0.3s ease-in-out;
    font-size: 19px;
    letter-spacing: 1px;
}

.link-produtos:hover {
    transform: translateY(-10px);
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 10;
    width: 100%;
    gap: 40px;
}

.logo ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo li {
    list-style: none;
}

.logo li a {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: var(--preto-logo);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.3s ease-in-out;
}

.logo li a:hover {
    background-color: var(--vermelho);
    transform: translateY(-10px);
}

.logo li a img {
    transform: scale(0.5);
    filter: invert(1);
}

/* Slider */

.conteudoBox .imagensBox {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudoBox .imagensBox img {
    max-width: 150px;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 500px;
    display: flex;
    justify-content: center;
}

.swiper-slide img {
    max-height: 80%;
}


@media (max-width: 991px) {
    header {
        padding: 40px;
    }
    
    section {
        padding: 150px 10px;
    }

    .logo {
        left: 40px;
        margin-left: 40px;
    }

    .conteudoBox {
        flex-direction: column;
    }

    .conteudoBox .textoBox,
    .conteudoBox .imagensBox {
        max-width: 100%;
    }

    .swiper-slide {
        height: 300px;
        margin-bottom: 30px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: var(--vermelho);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10;
    }

    header .navigation li a {
        margin: 10px;
        font-size: 1.5em;
        font-weight: 500;
    }

    .toggle {
        position: relative;
        background: url(/assets/img/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 10000;
    }

    .toggle.active {
        background: url(/assets/img/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
}